[defaults]
inventory           = ./hosts.yml
sudo_user           = root
remote_user         = vagrant
remote_port         = 22
ask_pass            = False
gathering           = implicit
gather_subset       = all
gather_timeout      = 10
timeout             = 30
executable          = /bin/bash
host_key_checking   = False
private_key_file    = ~/.ssh/id_rsa.vagrant.private

[inventory]

[privilege_escalation]
become              = True
become_method       = sudo
become_user         = root
become_ask_pass     = False

[paramiko_connection]

[ssh_connection]

[persistent_connection]

[accelerate]

[selinux]

[colors]

[diff]

